In [3]:
import pandas as pd
import numpy as np

In [41]:
df1 = pd.read_csv("Datasets/recette RA1.csv",encoding='unicode_escape',sep=";")
df1.head()

,Date,CENTRE,Pays,Appels Reçus,Appels reçus - les abandonnés <15,Appels traités,Appels abandonnés,Appels abandonnés <15,Appel_SVI,QS_15s,mise en garde (s),DMT (s),DMA (s)
0,1/1/23 0:00,VIPPBENIN,BENIN,154,0,NaN,154.0,154,NaN,NaN,0,0,0
1,2/1/23 0:00,VIPPBENIN,BENIN,253,231,199,54.0,22,NaN,"86,15 %",0,"161,1541502",17
2,3/1/23 0:00,VIPPBENIN,BENIN,230,206,186,44.0,24,NaN,"90,29 %",0,"152,1347826",12
3,4/1/23 0:00,VIPPBENIN,BENIN,144,126,115,29.0,18,NaN,"91,27 %",0,"151,2430556",10
4,5/1/23 0:00,VIPPBENIN,BENIN,178,136,115,59.0,42,NaN,"84,56 %",1,"122,3033708",9

In [24]:
df2 = pd.read_csv('Datasets/recette RA2.csv', encoding='unicode_escape',sep=";")
df2.head()

,Date,CENTRE,Pays,Appels Reçus,Appels reçus - les abandonnés <15,Appels traités,Appels abandonnés,Appels abandonnés <15,Appel_SVI,QS_15s,mise en garde (s),DMT (s),DMA (s)
0,1/1/23 0:00,VIPPBENIN,BENIN,154,0,NaN,154.0,154.0,NaN,NaN,0,0.000000,0
1,2/1/23 0:00,VIPPBENIN,BENIN,253,231,199.0,54.0,22.0,NaN,"86,15%","0,38",161.154150,"16,92"
2,3/1/23 0:00,VIPPBENIN,BENIN,230,206,186.0,44.0,24.0,NaN,"90,29%","0,48",152.134783,"11,83"
3,4/1/23 0:00,VIPPBENIN,BENIN,144,126,115.0,29.0,18.0,NaN,"91,27%",0,151.243056,"10,47"
4,5/1/23 0:00,VIPPBENIN,BENIN,178,136,115.0,59.0,42.0,NaN,"84,56%","0,51",122.303371,"8,79"

In [46]:
compa1 = df1.set_index(["Date","Pays"])
compa1

,,CENTRE,Appels Reçus,Appels reçus - les abandonnés <15,Appels traités,Appels abandonnés,Appels abandonnés <15,Appel_SVI,QS_15s,mise en garde (s),DMT (s),DMA (s)
Date,Pays,,,,,,,,,,,
1/1/23 0:00,BENIN,VIPPBENIN,154,0,NaN,154.0,154,NaN,NaN,0,0,0
2/1/23 0:00,BENIN,VIPPBENIN,253,231,199,54.0,22,NaN,"86,15 %",0,"161,1541502",17
3/1/23 0:00,BENIN,VIPPBENIN,230,206,186,44.0,24,NaN,"90,29 %",0,"152,1347826",12
4/1/23 0:00,BENIN,VIPPBENIN,144,126,115,29.0,18,NaN,"91,27 %",0,"151,2430556",10
5/1/23 0:00,BENIN,VIPPBENIN,178,136,115,59.0,42,NaN,"84,56 %",1,"122,3033708",9
...,...,...,...,...,...,...,...,...,...,...,...,...
28/8/23 0:00,TOGO,VIPPTOGO,217,211,206,10.0,6,NaN,"97,63 %",1,238,13
29/8/23 0:00,TOGO,VIPPTOGO,209,202,185,24.0,7,NaN,"91,58 %",2,"176,1961722",19
30/8/23 0:00,TOGO,VIPPTOGO,240,238,227,13.0,2,NaN,"95,38 %",0,"201,6208333",12
31/8/23 0:00,TOGO,VIPPTOGO,173,167,153,20.0,6,NaN,"91,62 %",0,"206,6763006",12
Total,NaN,NaN,2?002?424,1794421,1?597?418,395780.0,208?003,3032.0,"89,17 %",0,"151,2241378",15

In [47]:
compa2 = df2.set_index(["Date","Pays"])
compa2

,,CENTRE,Appels Reçus,Appels reçus - les abandonnés <15,Appels traités,Appels abandonnés,Appels abandonnés <15,Appel_SVI,QS_15s,mise en garde (s),DMT (s),DMA (s)
Date,Pays,,,,,,,,,,,
1/1/23 0:00,BENIN,VIPPBENIN,154,0,NaN,154.0,154.0,NaN,NaN,0,0.000000,0
2/1/23 0:00,BENIN,VIPPBENIN,253,231,199.0,54.0,22.0,NaN,"86,15%","0,38",161.154150,"16,92"
3/1/23 0:00,BENIN,VIPPBENIN,230,206,186.0,44.0,24.0,NaN,"90,29%","0,48",152.134783,"11,83"
4/1/23 0:00,BENIN,VIPPBENIN,144,126,115.0,29.0,18.0,NaN,"91,27%",0,151.243056,"10,47"
5/1/23 0:00,BENIN,VIPPBENIN,178,136,115.0,59.0,42.0,NaN,"84,56%","0,51",122.303371,"8,79"
...,...,...,...,...,...,...,...,...,...,...,...,...
27/8/23 0:00,TOGO,VIPPTOGO,157,153,144.0,13.0,4.0,NaN,"94,12%","0,79",231.095541,"6,75"
28/8/23 0:00,TOGO,VIPPTOGO,217,211,206.0,10.0,6.0,NaN,"97,63%","0,62",238.000000,"13,14"
29/8/23 0:00,TOGO,VIPPTOGO,209,202,185.0,24.0,7.0,NaN,"91,58%","1,83",176.196172,"18,53"
30/8/23 0:00,TOGO,VIPPTOGO,240,238,227.0,13.0,2.0,NaN,"95,38%","0,13",201.620833,"11,94"
31/8/23 0:00,TOGO,VIPPTOGO,173,167,153.0,20.0,6.0,NaN,"91,62%","0,23",206.676301,"12,21"

In [48]:
# compare 2 dataframes
compa1.compare(compa2)

ValueError: Can only compare identically-labeled DataFrame objects

In [26]:
df1.reset_index(drop=True) == df2.reset_index(drop=True)

,Date,CENTRE,Pays,Appels Reçus,Appels reçus - les abandonnés <15,Appels traités,Appels abandonnés,Appels abandonnés <15,Appel_SVI,QS_15s,mise en garde (s),DMT (s),DMA (s)
0,True,True,True,False,True,False,True,False,False,False,False,False,False
1,True,True,True,False,True,False,True,False,False,False,False,False,False
2,True,True,True,False,True,False,True,False,False,False,False,False,False
3,True,True,True,False,True,False,True,False,False,False,False,False,False
4,True,True,True,False,True,False,True,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3878,False,True,True,False,False,False,False,False,False,False,False,False,False
3879,False,True,True,False,False,False,False,False,False,False,False,False,False
3880,False,True,True,False,False,False,False,False,False,False,False,False,False
3881,False,True,True,False,False,False,False,False,False,False,False,False,False
3882,False,False,False,False,False,False,False,False,False,False,False,False,False